.menu {
    background-color: #333; /* Колір фону меню */
    text-align: right; /* Вирівнюємо пункти меню по правому краю */
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .menu li {
    display: inline-block; /* Розміщуємо пункти меню в одному рядку */
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #111; /* Колір фону посилання при наведенні */
  }

  .menu li a.active {
    background-color: #4CAF50; /* Колір активного пункту меню */
  }